// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  
}

.tubuyaki{
    height: 100px;
    
}

.topbtn{
    margin-top:150px;
}

.top-height{
    margin-top:50px;
}

.btn-box {
    text-align:center;
}

.index-btn{
    display:block;
    width:120px !important;
    text-align: center;
    margin-top:0 !important ;
}

.index-body{
    margin-top:70px;
}

.index-h2{
    margin-bottom:50px;
    text-align:center;
}

.notice{
   
    text-align: center;
}

